*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #030303;
    padding: 16px;
    color: #bec5c4;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline; 
    color: #bec5c4;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}

header li a {
    color: #bec5c4;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*width: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

section h2 {
    font-size: 38px;
}

.articles article h3 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.articles article a {
    color: white; 
    background-color: blue;
    padding: 8px;
    border-radius: 40px;
    border-style: solid;
    border-color: blue;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: 'Courier New', Courier, monospace
}

.articles article h3 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section h2 {
    font-size: 38px;
}

#sports {
    background-color: rgba(0, 120 , 255, 0.3);
}

#sports .articles article a {
    background-color: aqua;
    border-color: aqua;
    color: #030303;
}

#economia {
    background-color: rgba(255, 215, 0, 0.5);
}

#entreterimento {
    background-color: rgba(22,55,80,0.5)
}

#e-sports {
    background-color: rgba(70,209,70,0.5)
}

#entreterimento img.aquaman2 {
    width: 65%; /* Ajusta a largura para ocupar 100% do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: cover; /* Redimensiona a imagem mantendo a proporção e cobrindo completamente o contêiner */
}

#e-sports img {
    width: 409.79px; /* Defina a largura desejada */
    height: 281.41px; /* Defina a altura desejada, no mesmo valor da largura para torná-la quadrada */
    object-fit: cover; /* Isso ajuda a manter a proporção da imagem, cortando o excesso se necessário */
}

article .e-sports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}